    </body>

    <footer>
        <div class="container-fluid py-4 footerContent">
            <div class="container mb-0 px-0">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="footerHeader">Navigate</h4>
                        <ul>
                            <li>
                                <a href="/attend">Attend</a>
                            </li>
                            <li>
                                <a href="https://buckeyespeedbash.regfox.com/buckeye-speed-bash-2020">Register</a>
                            </li>
                            <li>
                                <a href="https://forms.gle/1g4rGZG5hp3qqmv78">Submit Runs</a>
                            </li>
                            <li>
                                <a href="https://www.marriott.com/events/start.mi?id=1571333084803&key=GRP">Book Hotel</a>
                            </li>
                            <li>
                                <a href="/schedule">Schedule</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="/staff">Staff</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="footerHeader">Contact us</h4>
                        <p>
                            Any questions? Ask us at <a href="mailto:questions@buckeyespeedbash.com">questions@buckeyespeedbash.com</a>
                        </p>
                        <p>
                            If you wish to reach specific departments or staff, visit our <a href="/staff">Staff page</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="/images/BSB logo horiz 2.png" alt="logo says what?" width="100%" height="auto">                        
                    </div>
                </div>
                <p>Website ©Alexander "KrunchyLex" Cueto 2019</p>
            </div>
        </div>
    </footer>
</html>