<% include partials/header %>

<div class="container-fluid">
    <div class="container pageContent">
        <div>
            <h1>Attending BSB</h1>
        </div>

        <div class="container">
            <p>Description of Registration stuff</p>
            <h3>Link to registration</h3>
        </div>

        <div class="container">
            <p>Hotel info (include airport transportation info)</p>
            <h3>Link to hotel reg</h3>
        </div>
</div>

<% include partials/footer %>