<% include partials/header %>

<div class="container-fluid py-4">
    <div class="container pageContent py-3">
        <div>
            <h1>Attending BSB</h1>
        </div>
        <div class="row py-3">
            <div class="col-md-6">
                <div class="container">
                    <p>
                        Buckeye Speed Bash is being held at the Marriott Columbus Northwest from March 27-29, 2020.
                    </p>
                    <p>
                        Attendance is $55 for early bird registrants before January 1, 2020 and $60 from January 1 through February 27.
                    </p>
                    <a href="https://buckeyespeedbash.regfox.com/buckeye-speed-bash-2020" class="btn btn-secondary btn-lg btn-block">
                        Register to attend
                    </a>
                </div>
                <div class="container mt-3">
                        <p>
                            The window for submitting runs is open from 11/22 - 12/6
                        </p>
                        <p>
                            All runs are open for consideration as long as the hardware can be streamed
                        </p>
                        <a href="https://forms.gle/1g4rGZG5hp3qqmv78" class="btn btn-secondary btn-lg btn-block">
                            Submit runs
                        </a>
                    </div>
                <div class="container mt-3">
                    <p>Rooms include complimentary guest wifi and free onsite parking.</p>
                    <p>There are multiple restaurants and shops within walking distance or a short drive away</p>
                    <p>The Marriott does not offer airport shuttle service, so if you're flying into John Glenn International and this is a concern for you, <a href="/staff">let us know</a> and we'll make sure you can get to and from the venue</p>
                    <a href="https://www.marriott.com/events/start.mi?id=1571333084803&key=GRP" class="btn btn-secondary btn-lg btn-block">
                        Book a room
                    </a>
                    <h5 class="mt-1">Reservations can also be made via phone at 1-888-801-7133</h5>
                </div>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1658.8101762903966!2d-83.13355745358041!3d40.07913670909153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88389319ff3db509%3A0x61b5e9f706898c45!2sMarriott%20Columbus%20Northwest!5e0!3m2!1sen!2sus!4v1574201126253!5m2!1sen!2sus" width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>   
        </div>         
    </div>
</div>

<% include partials/footer %>