<% include partials/header %>

<div class="container-fluid">
    <div class="container pageContent">
        <div>
            <h1>BSB FAQ</h1>
        </div>
        <div class="container">
            <a role="button">What is Buckeye Speed Bash?</a>
            <p>
                When we figure it out we'll let you know.
            </p>
        </div>
    </div>
</div>    

<% include partials/footer %>