<% include partials/header %>

<div class="container-fluid py-4">
    <div class="container pageContent py-3">
        <div>
            <h1>BSB FAQ</h1>
        </div>
        <div class="container">
            <h5 class="faqHeader">I'm only going for part of the weekend, can I get a prorated badge?</h5>
            <p>
                Unfortunately we no longer offer prorated badges.
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">Do runners get compensated for their badges</h5>
            <p>
                While this is definitely something we'd like to do down the road, due to the small size and really tight operating margins we've got, it's not possible right now.  For what it's worth, staff pays the same price as everyone else.  We're all in this together.
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">Why is there a limited number of badges?</h5>
            <p>
                There have been a lot of shakeups on our end and due to a shortage of operating funds and uncertainty about being able to fill the larger, more expensive event spaces we played it a bit conservatively this time.  We're definitely planning to move into bigger spaces as we grow, so thank you for understanding.
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">Why are badges so expensive?</h5>
            <p>
                This was a difficult decision for us.  If we could we'd shoulder all the costs ourselves, but unfortunately we can't. As is we had exactly zero dollars in operating funds for this event and have been paying for everything out of our own pockets, in some cases borrowing money.  The badges as they are set will allow us to cover the event space, all our expenditures for equipment + supplies, domain and web hosting, and give us the wiggle room for potentially upgrading the space next year.  We want to be completely transparent about this and appreciate your patience and understanding.
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">How can we be sure our donations go directly to the charity?</h5>
            <p>
                The money doesn't even touch our hands or our accounts.  They're handled entirely through Tiltify, a trusted third party, and go directly to the charity.  Rest easy.
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">Is there anything else to do aside from the main stream room?</h5>
            <p>
                Yes! We have a separate room with multiple CRTs so everyone can make new speedfriends and spread the good word of their run of choice.  And if you want to go out, we're a short drive from multiple game stores and a short walk from a large shopping area and indoor amusement center.  Lots to do in and around BSB!
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">Do bits, subs, and tips on the Twitch page go to the charity?</h5>
            <p>
                They do not.  Only the Tiltify link sends your dollars to them.  All the others go toward our operating costs (and bolstering our peace of mind).
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">I want to submit runs, how does that work?</h5>
            <p>
                On the schedule page, there is a link to a form you can use to submit your choicest of runs.  At present we're limiting submissions to three distinct runs per person.  Separate categories of the same game count as separate runs, so choose wisely.
            </p>
        </div>
        <div class="container">
            <h5 class="faqHeader">You've answered some questions here, but not mine</h5>
            <p>
                We've got you covered!  Head on over to our <a href="/staff">staff page</a> and send any queries you might have to our questions email.  Any deparment-specific questions can be directed to the corresponding department heads, also on the staff page.
            </p>
        </div>
    </div>
</div>    

<% include partials/footer %>