<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
        <h1>BSB3 IS A GO</h1>
        <p>Two years in the making, the third Buckeye Speed Bash is coming and it's bigger and better than ever!</p>
</div>

<div class="container container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Where and When</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Ornare suspendisse sed nisi lacus sed viverra. Iaculis eu non diam phasellus. Consequat nisl vel pretium lectus quam id. Donec pretium vulputate sapien nec. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Non pulvinar neque laoreet suspendisse. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Orci sagittis eu volutpat odio facilisis mauris. Bibendum neque egestas congue quisque egestas diam in. Sit amet luctus venenatis lectus magna fringilla urna porttitor.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>The Charity</h3>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Ornare suspendisse sed nisi lacus sed viverra. Iaculis eu non diam phasellus. Consequat nisl vel pretium lectus quam id. Donec pretium vulputate sapien nec. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Non pulvinar neque laoreet suspendisse. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Orci sagittis eu volutpat odio facilisis mauris. Bibendum neque egestas congue quisque egestas diam in. Sit amet luctus venenatis lectus magna fringilla urna porttitor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>