<% include partials/header %>

<div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Buckeye Speed Bash</h1>
            </div>
            <div class="col-md-6">
                <h3>March 27-29, 2020</h3>
                <h3>Marriott Columbus Northwest</h3>
                <h3>Columbus, OH</h3>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="container pageContent py-3">
        <div class="row">
            <div class="col-md-6 mainDates">
                <h2>Registration</h2>
                <h3>11/22/19 - 2/27/20</h3>
            </div>
            <div class="col-md-6 mainDates">
                <h2>Submissions</h2>
                <h3>11/22/19 - 12/6/19</h3>
            </div>
        </div>
        <hr>
        <div class="container">
            <h1 class="sectionTitles">What is Buckeye Speed Bash?</h1>
        </div>
        <div class="row py-3">
            <div class="col-md-4 d-none d-md-block">
                <img class="img-responsive" width="100%" height="auto" src="/images/practiceroomcrop.jpg" alt="nerds going fast">
            </div>
            <div class="col-md-8">
                <p>Buckeye Speed Bash is a three day in-person speedrunning marathon based in the heart of Ohio.  Bringing together the best runners the buckeye state and our neighbors have to offer, we use our finely-honed skills to raise money for deserving charities.  Now coming up to our third event, we hope to continue bringing the community together and doing our best to make a differnce in Ohio and beyond for years to come.</p>
                <a href="/attend" class="btn btn-secondary btn-lg btn-block">
                    Register to Attend
                </a>
            </div>
        </div>
        <div class="container mt-3">
            <h1 class="sectionTitles">Who are we helping?</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                    <p>At the moment we're finishing up the decision process as we talk to multiple charities whose causes we all wholeheartedly support.  Details will be posted as soon as everything is in place.</p>
                    <a href="#" class="btn btn-secondary btn-lg btn-block" style="visibility: hidden ;">
                        Learn More
                    </a>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <img class="img-responsive" width="100%" height="auto" src="/images/bsb1stream.jpg" alt="a marvelous cause">
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>