<% include partials/header %>

<div class="jumbotron jumbotron-fluid my-0">
    <div class="row">
        <div class="col-md-6">
            <h1>Buckeye Speed Bash</h1>
        </div>
        <div class="col-md-6">
            <h3>March 27-29, 2020</h3>
            <h3>Marriott Columbus Northwest</h3>
            <h3>Columbus, OH</h3>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="container pageContent">
        <div class="row">
            <div class="col-md-6 mainDates py-auto">
                <h2>Registration</h2>
                <h3>11/18/19 - 2/27/20</h3>
            </div>
            <div class="col-md-6 mainDates">
                <h2>Submissions</h2>
                <h3>11/18/19 - 11/30/19</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Ornare suspendisse sed nisi lacus sed viverra. Iaculis eu non diam phasellus. Consequat nisl vel pretium lectus quam id. Donec pretium vulputate sapien nec. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Non pulvinar neque laoreet suspendisse. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Orci sagittis eu volutpat odio facilisis mauris. Bibendum neque egestas congue quisque egestas diam in. Sit amet luctus venenatis lectus magna fringilla urna porttitor.</p>
            </div>
            <div class="col-md-4">
                <img src="/images/practiceroomcrop.jpg" alt="placeholder">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="/images/practiceroomcrop.jpg" alt="placeholder">
            </div>
            <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Ornare suspendisse sed nisi lacus sed viverra. Iaculis eu non diam phasellus. Consequat nisl vel pretium lectus quam id. Donec pretium vulputate sapien nec. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Non pulvinar neque laoreet suspendisse. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Orci sagittis eu volutpat odio facilisis mauris. Bibendum neque egestas congue quisque egestas diam in. Sit amet luctus venenatis lectus magna fringilla urna porttitor.</p>
                    <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>