<% include partials/header %>

<div class="container container-fluid">
    <h1>Register New Account</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="password" placeholder="password">
        <button>Submit</button>
    </form>
</div>

<% include partials/footer %>