<% include partials/header %>

    <div class="container-fluid">
        <div class="container pageContent">
            <div>
                <h1>BSB Schedule</h1>
            </div>
            <div>
                <p>Nothing here yet, but maybe you can help fill it</p>
                <h3>Link to submission form</h3>
            </div>
        </div>
    </div>  

<% include partials/footer %>