<% include partials/header %>

    <div class="container-fluid py-4">
        <div class="container pageContent py-3">
            <div>
                <h1>BSB Schedule</h1>
            </div>
            <div class="container">
                <h4>
                    Nothing here yet, but if you'd like to possibly see yourself on this page, why not submit runs of your own?
                </h4>
                <img src="/images/bsb1stream.jpg" alt="I'm in this picture :O">
                <h5>This could be you!</h5>
                <a href="https://forms.gle/1g4rGZG5hp3qqmv78" class="btn btn-secondary btn-lg btn-block mt-3">
                    Submit runs
                </a>
            </div>
        </div>
    </div>  

<% include partials/footer %>