<% include partials/header %>
<div class="container container-fluid">
    <div class="container">
        <h1>About Us</h1>
        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Ornare suspendisse sed nisi lacus sed viverra. Iaculis eu non diam phasellus. Consequat nisl vel pretium lectus quam id. Donec pretium vulputate sapien nec. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Non pulvinar neque laoreet suspendisse. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Orci sagittis eu volutpat odio facilisis mauris. Bibendum neque egestas congue quisque egestas diam in. Sit amet luctus venenatis lectus magna fringilla urna porttitor.</p>
        </div>
    </div>
    <div class="container">
        <h1>Staff</h1>
        <div class="row">
            <div class="container col-sm-4">
                <!--Make these two be inline with each other-->
                <div class="row">
                    <div class="col-xs-4">
                        <img src="/" alt="B)">
                    </div>
                    <div class="col-xs-8">
                        <h3>Some Dork</h3>
                    </div>
                </div>
                <strong>Official Titles Go Here</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer.</p>
                <a href="/">Contact for questions about [department]</a>
            </div>
            <div class="container col-sm-4">
                <!--Make these two be inline with each other-->
                <div class="row">
                    <div class="col-xs-4">
                        <img src="/" alt=":O">
                    </div>
                    <div class="col-xs-8">
                        <h3>Some Dork</h3>
                    </div>
                </div>
                <strong>Official Titles Go Here</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer.</p>
                <a href="/">Contact for questions about [department]</a>
            </div>
            <div class="container col-sm-4">
                <!--Make these two be inline with each other-->
                <div class="row">
                    <div class="col-xs-4">
                        <img src="/" alt=":3c">
                    </div>
                    <div class="col-xs-8">
                        <h3>Some Dork</h3>
                    </div>
                </div>
                <strong>Official Titles Go Here</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer.</p>
                <a href="/">Contact for questions about [department]</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>