<% include partials/header %>

<div class="container-fluid py-4">
    <div class="container pageContent py-3">
        <div class="container">
            <h1>Questions?</h1>
            <h4>
                <a href="mailto:questions@buckeyespeedbash.com" id="questionLink">questions@buckeyespeedbash.com</a>
            </h4>
        </div>
        
        <div class="container py-3">
            <h1>Staff</h1>
            <div class="row justify-content-between">
                <div class="container col-lg-4 col-md-6 mt-3">
                    <div>
                        <h1 class="staffNames">CosmykTheDolfyn</h1>
                    </div>
                    <h4>Event Chair</h4>
                    <h5>
                        Grand Supreme Evil Shadow Overlord, Mustachio'd Tyrant of Speed, Lord of the Cosmic Oceans
                    </h5>
                </div>
                <div class="container col-lg-4 col-md-6 mt-3">
                    <div>
                        <h1 class="staffNames">Ishypanda</h1>
                    </div>
                    <h4>Head of Registration</h4>
                    <h5>
                        Queen of Adorable, Empress of Pandas, Duchess of Organization
                    </h5>
                    <a href="mailto:registration@buckeyespeedbash.com">registration@buckeyespeedbash.com</a>
                </div>
                <div class="container col-lg-4 col-md-6 mt-3">
                    <div>
                        <h1 class="staffNames">Skavenger216</h1>
                    </div>
                    <h4>Head of Tech</h4>
                    <h5>
                        Keeper of the Red Candle, Shadow President of Cleveland, King of No-Nonsense
                    </h5>
                    <a href="mailto:tech@buckeyespeedbash.com">tech@buckeyespeedbash.com</a>
                </div>
                <div class="container col-lg-4 col-md-6 mt-3">
                    <div>
                        <h1 class="staffNames">RowdyScotBear</h1>
                    </div>
                    <h4>Head of Security</h4>
                    <h5>
                        Chief of Ursine Logistics and Matcha Distribution, Titan of Trustworthiness
                    </h5>
                    <a href="mailto:security@buckeyespeedbash.com">security@buckeyespeedbash.com</a>
                </div>
                <div class="container col-lg-4 col-md-6 mt-3">
                    <div>
                        <h1 class="staffNames">Kurossu</h1>
                    </div>
                    <h4>Head of Requisitions</h4>
                    <h5>
                        Master of Scrounging, Sultan of Snacks, Champion Back-getter
                    </h5>
                </div>
                <div class="container col-lg-4 col-md-6 mt-3">
                    <div>
                        <h1 class="staffNames">KrunchyLex</h1>
                    </div>
                    <h4>Head of PR and Social Media, Webmaster</h4>
                    <h5>
                        Commodore of Caffeine, Bombastic Broadcaster, Head of Whatever Else We May Have Forgotten
                    </h5>
                    <a href="mailto:media@buckeyespeedbash.com">media@buckeyespeedbash.com</a>
                    <a href="mailto:business@buckeyespeedbash.com">business@buckeyespeedbash.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>