body {
    padding-top: 61px ;
    font-family: 'Tomorrow', sans-serif ;
    font-weight: 400 ;
    text-align: center ;
}

p {
    text-align: left ;
}

.jumbotron {
    background: url(../images/streamroomred.jpg) ;
    background-size: cover ;
    color: white ;
    text-shadow: 2px 2px gray ;
    padding: 50px 20px ;
    margin: 0px ;
}

h1 {
    font-family: 'Press Start 2P', cursive ;
}

.container-fluid {
    background-color: #b51212 ;
    padding: 0px 0px 40px 0px ;
}

.navbar-brand {
    padding: 0px 
}

.nav-link {
    font-family: 'Tomorrow', sans-serif ;
    font-weight: 600 ;
}

.fab {
    padding: 0px 7px ;
    color: #868e96 ;
}

.fab:hover {
    color: #ced4da ;
}

.staticLinks {
    list-style-type: none ;
}

.mainDates {
    border: 3px solid #b51212 ;
    border-radius: 10px ;
    margin: 5px 20px ;
    padding: 5px ;
}

.mainDates h1 {
    font-size: 20px ;
}

.pageContent {
    background-color: #c7c5c5 ;
    padding: 20px ;
}

#home {
    font-family: 'Press Start 2P', cursive ;
    font-size: 30px ;
}

input[type=text] {
    width: 100% ;
}