body {
    padding-top: 61px ;
    font-family: 'Tomorrow', sans-serif ;
    font-weight: 400 ;
    text-align: center ;
}

p {
    text-align: left ;
}

hr {
    border-color: #b51212 ;
    border-width: 2px ;
}

.jumbotron {
    background: url(../images/streamroomred.jpg) ;
    background-size: cover ;
    color: white ;
    text-shadow: 2px 2px gray ;
}

h1 {
    font-family: 'Press Start 2P', cursive ;
}

h2 {
    font-size: 40px ;
    font-weight: 700 ;
}

.container-fluid {
    background-color: #b51212 ;
}


.nav-link {
    font-family: 'Tomorrow', sans-serif ;
    font-weight: 600 ;
}

.fab {
    color: #868e96 ;
}

.fab:hover {
    color: #ced4da ;
}

.staticLinks {
    list-style-type: none ;
}

.pageContent {
    background-color: #c7c5c5 ;
}

#home {
    font-family: 'Press Start 2P', cursive ;
    font-size: 30px ;
}

input[type=text] {
    width: 100% ;
}